[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Henrique
	email = hss@outlook.com.br
	password = ${key}
	signingkey = ~/.ssh/id_rsa.pub
[init]
	defaultBranch = master
[credential]
	helper = store
[core]
	editor = vi
	longpaths = true
	autocrlf = input
[fetch]
	prune = true
[http]
	sslBackend = gnutls
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
 gpgsign = true
[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = false
[alias]
	ci = commit
	co = checkout
	st = status
	unco = reset --soft HEAD~1
